/* this is the stylesheet for the contact page. adds color and positioning to the textboxes.*/

body {
    background-color: lightgrey;
}

.form-group {
    box-sizing: border-box;
    margin-left: 60px;
    margin-right: 60px;
    padding: 75px;
}

.btn-primary {
    margin-bottom: 200px;
    margin-left: 135px;
}